html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.pic1{
  width: 100px;
  height: 200px;
}



@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
